[defaults]
inventory = ~/automation/terraform/Automation-Project/terraform/assignment1-n01595234/hosts
role_path = roles
forks = 5
host_key_checking = False
deprecation_warnings = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
